/*
 *  \
 *  \\,
 *   \\\,^,.,,.                    “Zero to Hero”
 *   ,;7~((\))`;;,,               <zerotohero.dev>
 *   ,(@') ;)`))\;;',    stay up to date, be curious: learn
 *    )  . ),((  ))\;,
 *   /;`,,/7),)) )) )\,,
 *  (& )`   (,((,((;( ))\,
 */

/*
  Styles adapted from:
  https://codepen.io/johanmouchet/pen/qprOGW
*/

.cannon {
  height: 70vh;
  width: 1px;
  position: relative;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: cannon-explosion 1.2s cubic-bezier(0.18, 0.89, 0.32, 1.28) both;
  animation: cannon-explosion 1.2s cubic-bezier(0.18, 0.89, 0.32, 1.28) both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes cannon-explosion {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cannon-explosion {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.cannon__path {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  padding-bottom: 30%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
}
.cannon__path--lg {
  height: 100%;
}
.cannon__path--md {
  height: 95%;
}
.cannon__path--sm {
  height: 90%;
}
.cannon__path--angle-2 {
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.cannon__path--angle-1 {
  -webkit-transform: rotate(-7.5deg);
  transform: rotate(-7.5deg);
}
.cannon__path--angle1 {
  -webkit-transform: rotate(7.5deg);
  transform: rotate(7.5deg);
}
.cannon__path--angle2 {
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
.cannon__confetti {
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.cannon__confetti:nth-child(even) {
  -webkit-animation-name: confetti-rotate-l;
  animation-name: confetti-rotate-l;
}
@-webkit-keyframes confetti-rotate-l {
  0% {
    -webkit-transform: rotate(0) scaleY(1);
    transform: rotate(0) scaleY(1);
  }
  50% {
    -webkit-transform: rotate(2turn) scaleY(1.5);
    transform: rotate(2turn) scaleY(1.5);
  }
  100% {
    -webkit-transform: rotate(2.05turn) scaleY(1);
    transform: rotate(2.05turn) scaleY(1);
  }
}
@keyframes confetti-rotate-l {
  0% {
    -webkit-transform: rotate(0) scaleY(1);
    transform: rotate(0) scaleY(1);
  }
  50% {
    -webkit-transform: rotate(2turn) scaleY(1.5);
    transform: rotate(2turn) scaleY(1.5);
  }
  100% {
    -webkit-transform: rotate(2.05turn) scaleY(1);
    transform: rotate(2.05turn) scaleY(1);
  }
}
.cannon__confetti:nth-child(odd) {
  -webkit-animation-name: confetti-rotate-r;
  animation-name: confetti-rotate-r;
}
@-webkit-keyframes confetti-rotate-r {
  0% {
    -webkit-transform: rotate(0) scaleY(1);
    transform: rotate(0) scaleY(1);
  }
  50% {
    -webkit-transform: rotate(-2turn) scaleY(1.5);
    transform: rotate(-2turn) scaleY(1.5);
  }
  100% {
    -webkit-transform: rotate(-2.05turn) scaleY(1);
    transform: rotate(-2.05turn) scaleY(1);
  }
}
@keyframes confetti-rotate-r {
  0% {
    -webkit-transform: rotate(0) scaleY(1);
    transform: rotate(0) scaleY(1);
  }
  50% {
    -webkit-transform: rotate(-2turn) scaleY(1.5);
    transform: rotate(-2turn) scaleY(1.5);
  }
  100% {
    -webkit-transform: rotate(-2.05turn) scaleY(1);
    transform: rotate(-2.05turn) scaleY(1);
  }
}

.cannon__confetti--ribbon {
  height: 1em;
  width: .5em;
  border-radius: .1em;
}
.cannon__confetti--flake {
  height: .5em;
  width: .5em;
  border-radius: 50%;
}
.cannon__confetti--color-1 {
  background-color: #feb535;
}
.cannon__confetti--color-2 {
  background-color: #bea4ff;
}
.cannon__confetti--color-3 {
  background-color: #ff6e83;
}
.cannon__confetti--color-4 {
  background-color: #58cafe;
}

.party-popper {
  position: absolute;
  left: 50%;
  bottom: 5vh;
  font-size: 2em;
  -webkit-transform: translateX(-50%) rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg);
}

.cannon {
  position: absolute;
  bottom: 5vh;
  left: 50%;
}
